@mixin clearfix(){
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin line-height($height: 50px){
	height: $height;
	line-height: $height;
    text-align: center;
}