@import "normalize";

@mixin box-center{
	height: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

html,body{
	width: 100%;
	height: 100%;
}
img{
	max-width: 100%;
}
.outBox{
	@include box-center();
	overflow: hidden;
}

#sliderBox{
	position: relative;
	width: 80%;
	height: 100%;
	margin: 0 auto;

	ul{
		margin: 0;
		padding: 0;
		position: relative;
		height: 100%;
		list-style-type: none;
	}

	li{
		@include box-center();
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		opacity: 0.8;
		// box-shadow: 0 4px 14px rgba(0,0,0,0.6);
		display: none;
		cursor: pointer;
		// -webkit-transform: perspective(1100px) rotateY(300deg);
		// transform: perspective(1100px) rotateY(300deg);
		transition: 1s all ease;
		background: #fff;
	}

	#cur{
		z-index: 4;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
		z-index: 99;
	}

	#left {
		-webkit-transform:perspective(1100px) translate(-200px, 10px) rotateY(60deg) scale(0.9);
		transform:perspective(1100px) translate(-200px, 10px) rotateY(60deg) scale(0.9);
	}
	#left2 {
		-webkit-transform:perspective(1100px) translate(-300px, 10px) rotateY(60deg) scale(0.9);
		transform:perspective(1100px) translate(-300px, 10px) rotateY(60deg) scale(0.9);
	}

	#right {
		-webkit-transform:perspective(1100px) translate(200px, 10px) rotateY(-60deg) scale(0.9);
		transform:perspective(1100px) translate(200px, 10px) rotateY(-60deg) scale(0.9);
	}
	#right2 {
		-webkit-transform:perspective(1100px) translate(300px, 10px) rotateY(-60deg) scale(0.9);
		transform:perspective(1100px) translate(300px, 10px) rotateY(-60deg) scale(0.9);
	}
}